@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #555;
}

#wrapper {
  width: 450px;
  margin: 0 auto;
}

#canvas {
  background: #eee;
}

#score, #time {
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
#score::before {
  font-weight: normal;
  content: 'Points: ';
}
#time::before {
  font-weight: normal;
  content: 'Time Elapsed: ';
}
#time::after {
  content: 's';
}
