@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #555;
}

#wrapper {
  width: 450px;
  margin: 0 auto;
}

#canvas {
  background: #eee;
}

#score, #time {
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
#score::before {
  font-weight: normal;
  content: 'Points: ';
}
#time::before {
  font-weight: normal;
  content: 'Time Elapsed: ';
}
#time::after {
  content: 's';
}

.button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #588385;
  color: #eee;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover,
.button:focus {
  background: #4f7477;
}


.button:active {
  transform: scale(0.99);
}
